 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: 10px;
}

h1{
   margin-top: 10px;
   margin-bottom: 40px;
   margin-left: 10px;
   text-align: left;
 }

 h2{                      //a voir pour city
   margin-top: 60px;      
   margin-left: 15px;
   text-align: center;
 }

 td, th {
 	padding: 15px;
  margin-left: 10px;
  text-align: center;
  }

  h3{                      //a voir pour city
  button-align: right;
  margin-left: 46%;
  }

  .navbar-inverse .navbar-nav > li > a {
  color: #000000;
 }

 .navbar-inverse .navbar-brand {
 	color: #000000;
 }

 .navbar-inverse {                      
 	background-color: #FF8C00;
 	border-color: #000000;
 }

.btn{
  margin-left: 10px;
}

.field{
  margin-left: 10px;
}

p{
  margin-left: 10px;
}